{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/index_styles.css">
<div class="snap-scroll">

  <!-- Wood Pane Background Image -->
  <div class="background-image tile snap-scroll-start">

    <!-- A wrapper for the content -->
    <div class="intro-tile-wrapper">

      <!-- The circle thingy -->
      <div class="intro-tile-circle">
        <div class="text-center p-5">
          <h2>Hi, I'm Coop</h2>
          <h3>Welcome to my Site. This is me.</h3>
        </div>
      </div>

      <!-- Who I Am section -->
      <div class="intro-tile-list translucent text-right p-3">
        <h2>Who I Am</h2>
        <p>
          Intro text goes here yada yada, reality this would be next to the big circle above, right justified
        </p>

        <h3>Something about me</h3>
        <p>
          Say something interesting about your business here.
        </p>

        <h3>More Stuff</h3>
        <p>
          What's something exciting about your business offers? Say it here.
        </p>

        <h3>Other Things</h3>
        <p>
          Give Customers a reason to do business with you.
        </p>
      </div>
    </div>
  </div>

  <div class="explore-tile-wrapper tile snap-scroll-start">

    <!-- Wrapper for the content -->
    <div class="explore-tile-content">
      <h1 class="text-center w100">Explore</h1>

      <!-- Row to hold all the picture links -->
      <div class="d-flex flex-row justify-content-around mt-5">

        <!-- A macro is a reusable piece of HTML -->
        {% macro picture_link(title, href, src, body) %}
        <div class="picture-link">
          <h2>{{title}}</h2>
          <a href="{{href}}"><img src="{{src}}" class="picture-link-img"></a>
          <p class="text-justify mt-2">{{body}}</p>
        </div>
        {% endmacro %}

        <!-- Create our three picture links with the macro above -->
        {{picture_link(
          'My Experiences',
          '/experiences',
          '/static/img/my_experiences_thumbnail.jpg',
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.'
        )}}

        {{picture_link(
          'My Passions',
          '/passions',
          '/static/img/climbing.jpg',
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.'
        )}}

        {{picture_link(
          'My Thoughts',
          '/thoughts',
          '/static/img/desk.jpeg',
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.'
        )}}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}