.background-image {
  background-image: url(/static/img/wood_planks.jpg);
  background-size: 100% 100%;
  height: 100vh;
}

.tile {
  display: flex;
  align-items: center;
}

.intro-tile-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
}

.intro-tile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60vh;
  background-color: var(--tree-poppy-transparent);
}

.intro-tile-list {
  max-width: 40vw;
  border-radius: 0.25em;
}

.explore-tile-wrapper {
  height: 100vh;
}

.explore-tile-content {
  width: 100%;
  text-align: center;
}

.picture-link {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.picture-link .picture-link-img {
  height: 30vh;
  width: 25vw;
  object-fit: cover;
  transition: 200ms ease-in-out;
}

.picture-link .picture-link-img:hover {
  transform: scale(1.01);
  box-shadow: var(--gray-dark) 1px 1px 5px 0;
  cursor: pointer;
}