html, body {
  color: var(--dark);
  font-size: 18px;
  height: 100%;
  background-color: var(--light);
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', sans-serif;
}

a:hover {
  text-decoration: none;
}

section.full-screen {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 15vh;
}

.footer {
  background-color: var(--dark);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--light)
}

.title-line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-line-wrapper .title-line {
  height: 0.15em;
  flex-grow: 1;
}

i.fab ~ i.fab {
  margin-left: 1em;
}

.translucent {
  background-color: var(--white-transparent) !important;
}

.snap-scroll {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.snap-scroll-start {
  scroll-snap-align: start;
}

.snap-scroll-end {
  scroll-snap-align: end;
}

.contact-row > .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-row .contact-item i {
  font-size: 2em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1500px) {
  .overlay {
    font-size: 15px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px) grayscale(30%);
  -webkit-backdrop-filter: blur(5px) grayscale(30%);
  z-index: 9999;
}

  .overlay .overlay-display-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vh;
    padding: 1em;
  }

  .overlay .overlay-display-border {
    height: 100%;
    width: 100%;
    border: solid black 0.25em;
  }

.coopface-background {
  background-image: url(/static/img/cooperface.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.outline {
  border: solid white 2px;
  height: 100%;
  width: 100%;
}
