html, body {
  font-size: 16px;
  height: 100%;
  background-color: var(--light);
  overflow-y: auto;
  font-family: var(--font-family-monospace);
}

.footer {
  background-color: var(--dark);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--light)
}

i.fab ~ i.fab {
  margin-left: 1em;
}

.translucent {
  background-color: #FFFFFFBE !important;
}

.snap-scroll {
  scroll-snap-type: y proximity;
}

.snap-scroll-start {
  scroll-snap-align: start;
}
